.root {
  background-color: "#E9E6E6";
  flex: 1;
  height: 100%;
  position: relative;
}

.images {
  display: flex;
  flex-flow: wrap;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100%;
  justify-content: space-around;
}
