@import '../variables.css';

    .mainPage {
      background-color: "#E9E6E6";
      padding: 50px;
      font-family: "sans-serif";
    }
    
    .imageGrid {
      background-color: "#E9E6E6";
      padding: 30px;
      margin-bottom: 30px;
      width: 300px;
      height: 300px;
    }