.root {
    margin-right: 1rem;
    background-color: white;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.menu_group {

    & .menu_title {
        font-weight: bold;
        margin-bottom: 0.75rem;
    }

    & .menu_content {

    }
}
