@import '../variables.css';

.root {
  height: 100%;
  width: 100%;
}

.hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.buttons {
  & * {
	cursor: pointer;
  }

  &:hover {
	fill: blue;
  }
}

.taggingButton {
  position: absolute;
  right: 20px;
  top:20px;
}

.image {
  position: relative;
  max-height: 400px;
  & img {
	max-height: 400px;
  }
}

.dock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  max-width: 90%;
}

.gridList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.titleStyle {
  color: rgb(0; 188; 212);
}
