@import '../variables.css';

.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
}

.hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.buttons {
  & * {
	cursor: pointer;
  }

  &:hover {
	fill: blue;
  }
}

.taggingButton {
  position: absolute;
  right: 20px;
  top:20px;
}

.image {
  position: relative;
  max-height: 400px;
  & img {
	max-height: 400px;
  }
}

.dock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

.gridList {
  display: flex;
  overflow-x: scroll;
  flex-flow: row nowrap !important;
  margin: 0 !important;
}

.titleStyle {
  color: rgb(0; 188; 212);
  width: 150px;
}
